<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title style="color: brown">{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="color: green">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
